//Branding

$brand: apple;
//$brand-color: #0c0c0c;
//$brand-color-alt: #E2EAF2;
//$brand-background-1: hsla(0, 0%, 97%, 1.0);
//$brand-background-2: transparent;

//Typo

$font-family: Georgia;
$text-color: red;

//Header

$header-height: 80px;
//$header-padding: 0 2rem;